{% load static %}
<!-- Image Slider -->

     <!--Carousel Wrapper-->
    <div id="carousel-example-1z" class="carousel carousel-fade" data-ride="carousel">
		<!--Carousel Wrapper-->
		<div id="carousel-example-2" class="carousel carousel-fade " data-ride="carousel">
            <div  class="container my-2" style="position: relative;">
                  <!--Indicators-->
					<ol class="carousel-indicators">
                    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-2" data-slide-to="1"></li>
                    <li data-target="#carousel-example-2" data-slide-to="2"></li>
                    <li data-target="#carousel-example-2" data-slide-to="3"></li>
                    <li data-target="#carousel-example-2" data-slide-to="4"></li>
                  </ol>
                  <!--/.Indicators-->
                  <!--Slides-->
					<div class="carousel-inner" role="listbox" style="max-width:auto; max-height:250px !important;">
                        <div class="carousel-item active">
                          <div class="view">
                            <img class="d-block w-80 " src="{% static 'img/homes/instru2.jpg' %}" alt="First slide">
                            <div class="mask rgba-black-light"></div>
                          </div>
                          <div class="carousel-caption">
                            <h3 class="h3-responsive">Instrumentation</h3>
                            <p>First text</p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <!--Mask color-->
                          <div class="view">
                            <img class="d-block w-80" src="{% static 'img/homes/calibrat2.jpg' %}" alt="Second slide">
                            <div class="mask rgba-black-strong"></div>
                          </div>
                          <div class="carousel-caption">
                            <h3 class="h3-responsive">Calibration</h3>
                            <p>Secondary text</p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <!--Mask color-->
                          <div class="view">
                            <img class="d-block w-80" src="{% static 'img/homes/control1.jpg' %}" alt="Third slide">
                            <div class="mask rgba-black-slight"></div>
                          </div>
                          <div class="carousel-caption">
                            <h3 class="h3-responsive">PLC/SCADA Automation</h3>
                            <p>Third text</p>
                          </div>
                        </div>

                        <div class="carousel-item">
                          <!--Mask color-->
                          <div class="view">
                            <img class="d-block w-80" src="{% static 'img/homes/pneumatic2.jpg' %}" alt="Forth slide">
                            <div class="mask rgba-black-slight"></div>
                          </div>
                          <div class="carousel-caption">
                            <h3 class="h3-responsive">Hydraulic $ Pneumatics </h3>
                            <p>Forth text</p>
                          </div>
                         </div>

                        <div class="carousel-item">
                          <!--Mask color-->
                          <div class="view">
                            <img class="d-block w-80" src="{% static 'img/homes/ac2.jpg' %}" alt="Fifth slide">
                            <div class="mask rgba-black-slight"></div>
                          </div>
                          <div class="carousel-caption">
                            <h3 class="h3-responsive">Air Conditioning System</h3>
                            <p>Fifth text</p>
                          </div>
                        </div>

                      <!--/.Slides-->
                      <!--Controls-->
                      <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                  <!--/.Controls-->
                    </div>
            </div>
                <div class="container" style="position: relative; max-height:10px !important;">
                        <h5>Caliber Instrumentation Service</h5>
                </div>
                <br>
                <br>

        </div>
		<!--/.Carousel Wrapper-->
    </div>

