{% load static %}

<!-- Upper Footer -->

  <section id="services" class="py-4 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-cogs fa-4x mr-4"></i>
          <hr>
          <h3>Maintenance Service </h3>
          <p>We are an industrial maintenance company provide various service to industries with well skilled to handle Instrumentation & Control maintenance,
            electrical maintenance, Hydraulic & Pneumatic , Industrial AirConditioning.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-truck fa-4x mr-4"></i>
          <hr>
          <h3>Component Provider</h3>
          <p>We are here to help industrial manufacturing plants with the supply of Multi-brand Instruments, Electrical,
            Electronic, Hydraulic, Pneumatic, AirCondition components for industrial.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>We Provide on call and online support our valuable customers to help and supports on field issue or our product,
            We support's for calibration ,Instrumentation, Automation service, Hydraulic & Pneumatic , Industrial AirConditioning.
          </p>
        </div>
      </div>
    </div>
  </section>