{% extends 'Homeyard_html/base.html' %}
{% load static %}

{% block title %} | Calibration Facility {% endblock %}

{% block content %}
<!--
<div id="maincontainer" class="container-fluid mrt20 mrb20 clearfix"> <!-- start header div 1, will end in footer --
	<div class="container"> <!-- start header div 2, will end in footer --
									<h3 class="text-center">Automation Services</h3>
									<p style="text-align: justify;">Flexible scheduling, including same-day air conditioner service and next-day installs
										Technicians arrive on-time, every time, or your service is completely FREE
										Upfront rates based on the job itself, not how long it will take to complete
										Techs are background checked, trained, and uniformed for your comfort and safety
										Available nights, weekends, and holidays at no extra cost to you
										All air conditioning services are guaranteed for two full years, no exceptions
										State-of-the-art equipment, advanced techniques, and fully stocked trucks
	</div>
</div>
-->

<div class="how-section1">
        <div class="container row">
            <div class="col-md-6 how-img">
                <div class="sad">
                    <img src="{% static 'img/AC/ac2.jpg' %}" class="rounded-square img-fluid" alt=""/>
                </div>
            </div>
            <div class="col-md-6">
                <h4>AirConditioning Services</h4>
					<h4 class="subheading">Our AirConditioning services helps to run and grow your business.</h4>
           			 <p style="text-align: justify;">Flexible scheduling, including same-day air conditioner service and next-day installs
										Technicians arrive on-time, every time, or your service is completely FREE
										Upfront rates based on the job itself, not how long it will take to complete
										Techs are background checked, trained, and uniformed for your comfort and safety
										Available nights, weekends, and holidays at no extra cost to you
										All air conditioning services are guaranteed for two full years, no exceptions
										State-of-the-art equipment, advanced techniques, and fully stocked trucks
					 </p>
			</div>
        </div>
</div>

<section id="listings" class="py-5">
    <div class="container">
        <h3 class="text-center">Our services</h3>
        <!-- Listing 1 -->
        <div class="row text-secondary pb-3">
			<ul class="col-5" style="margin-left : 20px; font-size: 18px;">
				<li><h5>We offer the following services to Industries and homeowners:</h5></li>
				<li>New machine available</li>
				<li>AC service </li>
				<li>AC installations</li>
				<li>Annual maintenance contract</li>
				<li>Air Conditioner Repair & maintenance</li>
				<li>Air Conditioner Replacement</li>
				<li>Air Conditioner Tune-Ups</li>
				<li>Emergency Air Conditioner Service</li>
				<li>Ducting</li>
				<li>Accessories</li>
			</ul>
			<ul class="col-6">
									<div class="col-10" style="margin-top: 15px;">
									<h4 style="background: #4d8900; text-align: left; text-transform: uppercase; padding: 7px 0px 7px 15px; margin: 0; font-size: 14px;">AC installations</h4>
									<p><img style="max-height: 200px; width: 100%; padding: 0; margin: 0;" title="installations" src="{% static 'img/AC/ac1.jpg' %}" alt="Machine installations" class="img-responsive"></p>
									</div>
									<div class="col-10" style="margin-top: 15px;">
									<h4 style="background: #4d8900; text-align: left; text-transform: uppercase; padding: 7px 0px 7px 15px; margin: 0; font-size: 14px;">AC service</h4>
									<p><img style="max-height: 200px; width: 100%; padding: 0; margin: 0;" title="service" src="{% static 'img/AC/ac2.jpg' %}" alt="service" class="img-responsive"></p>
									<h4 style="background: #4d8900; text-align: left; text-transform: uppercase; padding: 7px 0px 7px 15px; margin: 0; font-size: 14px;">Annual maintenance</h4>
									<p><img style="max-height: 200px; width: 100%; padding: 0; margin: 0;" title="Machine maintenance" src="{% static 'img/AC/ac3.jpg' %}" alt="Machine maintenance" class="img-responsive"></p>
									</div>
									<div class="col-10" style="margin-top: 15px;">
									<h4 style="background: #4d8900; text-align: left; text-transform: uppercase; padding: 7px 0px 7px 15px; margin: 0; font-size: 14px;">Ducting</h4>
									<p><img style="max-height: 200px; width: 100%; padding: 0; margin: 0;" title="Ducting" src="{% static 'img/AC/ac4.jpg' %}" alt="Ducting" class="img-responsive"></p>
									</div>
								</ul>
	  	</div>

    </div>
</section>



{% endblock %}