{% extends 'Homeyard_html/base.html' %}
{% load static %}

{% block title %} | Calibration Facility {% endblock %}

{% block content %}
<!--
<div id="maincontainer" class="container-fluid mrt20 mrb20 clearfix"> <!-- start header div 1, will end in footer --
	<div class="container"> <!-- start header div 2, will end in footer --
									<h3 class="text-center">Automation Services</h3>
									<p style="text-align: justify;">
										We, Caliber industrial service company,we provide service spport and solutions for the automation, electronics, instrumentation, electrical, and pneumatic environments.
										oue engineers are specialists in the areas of troubleshooting faults, up-gradation industrial electrical and electronic equipment and systems,
										we provide high-end automation systems like PLCs, SCADA, HMI, controllers, single loop digital controllers, temperature controllers, control valve calibration and pneumatic systems to meet industrial standards,
										As well we suppy component and provice telisupport for various varity of products for industries in field of automation,instrumentation, electrical, electronic, hydraulic % pneumatic.
										We provides automation control products- Programmable Logic Controllers (PLCs), DCS, Supervisory Control and Data Acquisition (SCADA), HMI systems, Drives(VFD), Servo, Sensors, Transmitters, DCS and much more from many vendors such as Siemens, Allen Bradley, ABB, Fanuc, GE, Keyence, Delta, Schneider,
									</p>

		</div>
	</div>
</div>
-->
<div class="how-section1">
        <div class="container row">
            <div class="col-md-6 how-img">
                <div class="sad">
                    <img src="{% static 'img/automation/process.jpg' %}" class="rounded-square img-fluid" alt=""/>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Automation Service</h4>
				<h4 class="subheading">Our automation services helps to run and grow your business.</h4>
                    <p style="text-align: justify;">We are Caliber industrial service company,we provide service support and solutions for the automation environments, we are specialists
                        in the areas of troubleshooting faults, we provide high-end automation systems like PLCs, SCADA, HMI, controllers, single loop digital controllers,
                        temperature controllers as well we provides automation control products- PLCs, DCS, SCADA, HMI systems, Drives(VFD), Servo, Sensors, Transmitters.
                    </p>

			</div>
        </div>
</div>

  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center">Our services</h3>
        <!-- Listing 1 -->
		<div class="row text-secondary pb-3">
			<ul class="col-5" style="margin-left : 20px; font-size: 18px;">
									<li>Installation, Programming and Maintenance Services</li>
										<ul>
											<li>PLC</li>
											<li>SCADA</li>
											<li>HMI</li>
											<li>VFD</li>
										</ul>
									<li>SCADA Systems Design, Installation and Commissioning.</li>
									<li>Machine Automation</li>
									<li>Process Automation</li>
									<li>Conveyor Automation</li>
									<li>Elevator/Lift Control systems</li>
									<li>Packing Machine Automation</li>
									<li>AHU Control Systems</li>
									<li>Exhaust fan Automation</li>
									<li>Data Logging and Monitoring</li>
									<li>WTP Automation</li>
									<li>Weighing Automation</li>
									<li>Lightning Protection System</li>
									<li>Surge Protection System</li>
									<li>Energy Management systems</li>
									<li>Calibration &amp;amp; Testing</li>
								</ul>
			<ul class="col-6">
				<div class="col-10" style="margin-top: 15px;">
					<h4 style="background: #4d8900; text-align: left; text-transform: uppercase; padding: 7px 0px 7px 15px; margin: 0; font-size: 14px;">PLC SCADA</h4>
					<p><img style="max-height: 200px; width: 100%; padding: 0; margin: 0;" title="PLC SCADA" src="{% static 'img/automation/ScadaPLC.jpg' %}" alt="PLC SCADA" class="img-responsive"></p>
				</div>
				<div class="col-10" style="margin-top: 15px;">
					<h4 style="background: #4d8900; text-align: left; text-transform: uppercase; padding: 7px 0px 7px 15px; margin: 0; font-size: 14px;">Process Automation</h4>
					<p><img style="max-height: 200px; width: 100%; padding: 0; margin: 0;" title="Process Automation" src="{% static 'img/automation/process.jpg' %}" alt="Process Automation" class="img-responsive"></p>
					<h4 style="background: #4d8900; text-align: left; text-transform: uppercase; padding: 7px 0px 7px 15px; margin: 0; font-size: 14px;">Machine Automation</h4>
					<p><img style="max-height: 200px; width: 100%; padding: 0; margin: 0;" title="Machine Automation" src="{% static 'img/automation/mauto.jpg' %}" alt="Machine Automation" class="img-responsive"></p>
				</div>
				<div class="col-10" style="margin-top: 15px;">
					<h4 style="background: #4d8900; text-align: left; text-transform: uppercase; padding: 7px 0px 7px 15px; margin: 0; font-size: 14px;">Conveyor Automation</h4>
					<p><img style="max-height: 200px; width: 100%; padding: 0; margin: 0;" title="Conveyor Automation" src="{% static 'img/automation/conv.jpg' %}" alt="Conveyor Automation" class="img-responsive"></p>
				</div>
			</ul>
		</div>

    </div>
  </section>



{% endblock %}