{% extends 'Homeyard_html/base.html' %}
{% load static %}

{% block title %} | Calibration Facility {% endblock %}

{% block content %}
<!--
<div id="maincontainer" class="container-fluid mrt20 mrb20 clearfix"> <!-- start header div 1, will end in footer --
	<div class="container"> <!-- start header div 2, will end in footer --
									<h3 class="text-center">Instrumentation Services</h3>
		<p style="text-align: justify;">We, Caliber Instrumentation service, are working in industry of instrument to provide wide range of instrumentation service to our industrial partners to ensure one stop solution at one place, We are supporting different verity of instruments fields like Biomedical instrument, electronic instruments , electrical instruments and mechanical instrument along with calibration and industrial automation activities to ensure our clients to provide all services together.
			As well we are supplier and provider or all kind of instruments requires for industries like flow meters, measurement instruments, calibrator , transmitter/isolator, controller at attractive price range along with our technical services, installation and service.
			we provide our service and supply products to various  process industries like  chemical, fertilizer, cement, steel, pharmaceutical, food, pulp & paper, petrochemical, automobile, etc. with high quality consultancy, consistency, accuracy of its products, and on-time delivery at good price.
		</div>
	</div>
</div>
-->
<div class="how-section1">
        <div class="container row">
            <div class="col-md-6 how-img">
                <div class="sad">
                    <img src="{% static 'img/homes/instru1.jpg' %}" class="rounded-square img-fluid" alt=""/>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Instrumentation Services</h4>
				<h4 class="subheading">Our Instrumentation services helps to run and grow your business.</h4>
				<p style="text-align: justify;">We, Caliber Instrumentation service, are working in industry of instrument to provide wide range of instrumentation service for industrialies
                         to ensure one stop solution at one place, We are supporting different verity of instruments fields like Biomedical instrument,
                         electronic instruments , electrical instruments and mechanical instrument along with calibration.
				</p>

			</div>
        </div>
</div>


<section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center">Our services</h3>
        <!-- Listing 1 -->
		<div class="row text-secondary pb-3">
				   	<ul class="col-5" style="margin-left : 20px; font-size: 18px;">
									<li>Installation, Programming and Repair Services</li>
										<ul>
											<li>PLC</li>
											<li>SCADA</li>
											<li>HMI</li>
											<li>VFD</li>
										</ul>
									<li>Machine Automation</li>
									<li>Process Automation</li>
									<li>Conveyor Automation</li>
									<li>Elevator/Lift Control systems</li>
									<li>Packing Machine Automation</li>
									<li>AHU Control Systems</li>
									<li>Exhaust fan Automation</li>
									<li>Data Logging and Monitoring</li>
									<li>WTP Automation</li>
									<li>Weighing Automation</li>
									<li>Lightning Protection System</li>
									<li>Surge Protection System</li>
									<li>Energy Management systems</li>
									<li>Calibration &amp;amp; Testing</li>
								</ul>
				   	<ul class="col-6">
									<div class="col-10" style="margin-top: 15px;">
									<h4 style="background: #4d8900; text-align: left; text-transform: uppercase; padding: 7px 0px 7px 15px; margin: 0; font-size: 14px;">Electronics / Electrical</h4>
									<p><img style="max-height: 200px; width: 100%; padding: 0; margin: 0;" title="Electronics Instrumentation" src="{% static 'img/instrumentation/eli.jpg' %}" alt="Electronics Instrumentation" class="img-responsive"></p>
									</div>
									<div class="col-10" style="margin-top: 15px;">
									<h4 style="background: #4d8900; text-align: left; text-transform: uppercase; padding: 7px 0px 7px 15px; margin: 0; font-size: 14px;">Industrial Instrumentation</h4>
									<p><img style="max-height: 200px; width: 100%; padding: 0; margin: 0;" title="Industrial Instrumentation" src="{% static 'img/instrumentation/indi.jpg' %}" alt="Industrial Instrumentation" class="img-responsive"></p>
									<h4 style="background: #4d8900; text-align: left; text-transform: uppercase; padding: 7px 0px 7px 15px; margin: 0; font-size: 14px;">Mechanical Instrumentation</h4>
									<p><img style="max-height: 200px; width: 100%; padding: 0; margin: 0;" title="Mechanical Instrumentation" src="{% static 'img/instrumentation/mei.jpg' %}" alt="Mechanical Instrumentation" class="img-responsive"></p>
									</div>
									<div class="col-10" style="margin-top: 15px;">
									<h4 style="background: #4d8900; text-align: left; text-transform: uppercase; padding: 7px 0px 7px 15px; margin: 0; font-size: 14px;">Biomedical Instrumentation</h4>
									<p><img style="max-height: 200px; width: 100%; padding: 0; margin: 0;" title="Biomedical Instrumentation" src="{% static 'img/instrumentation/bmi.png' %}" alt="Biomedical Instrumentation" class="img-responsive"></p>
									</div>
								</ul>
	  	</div>

    </div>
</section>



{% endblock %}