{% extends 'Homeyard_html/base.html' %}


{% block title %} | Calibration Facility {% endblock %}

{% block content %}

<div id="maincontainer" class="container-fluid mrt20 mrb20 clearfix"> <!-- start header div 1, will end in footer -->
	<div class="container"> <!-- start header div 2, will end in footer -->
									<h3 class="text-center">Hydraulic & Pneumatic Services</h3>
									<p style="text-align: justify;">We,are a renowned organization engaged in supplying a premium quality range of Hydraulic Valves, Pumps, Hoses, connectors and Filters.

										Our range of products are precision engineered by making use of optimum grade raw material in sync with the industry laid standards and norms to attain maximum level of satisfaction. Furthermore, our professionals keep in pace with the changing market trends and demands of the customers, therefore are capable of customizing these products as per their specified requirements.

										To offer an entirely defect-free range of products to our esteemed clients, we test the quality of these products before dispatching these industrial goods to their ends, in order to ensure their excellent quality and longer service life.

										Our Expertise
										We offer complete Application based solutions to all pneumatic control problems and automation technology to the customers India wide and also in PUNE(Maharashtra) region. JS Hydro Pneumatic Marketing Corporation is market leader for pneumatic products in India & Pune(Maharashtra). We also have a Strong Technical Marketing who study and understand the Customer requirement in details and offer Optimized Solution.

										We constantly innovate to give our clients the best in hydraulics & pneumatics. We innovate to improve efficiency, get customer satisfaction and to meet industry standards. Innovation is our key to success.

										Our Services
										We offer technical support to our customers time to time to enhance the performance of their machines with our technical experts and field engineers. Our core strength is physical approach to the customer and to study the requirement of customers to offer optimize solution..

										We strive hard to give the right product at right time to our clients. We focus on building relationship by offering best in class products in hydraulics & pneumatics.

										JS Hydro Pneumatic, is an Engineering Organization engaged i n Supplying, Distributing all kinds of Fluid accessories & also a Service Provider for Industrial Fluid Applications.
	</div>
</div>


  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center">Our services</h3>
        <!-- Listing 1 -->
		<div class="row text-secondary pb-3">
				   	<ul class="col-5" style="margin-left : 20px; font-size: 18px;">
									<li>Fly ash brick machine repair</li>
									<li>Repair & service</li>
									<li>maintenance</li>
									<li>parts installation</li>
									<li>commissioning</li>
									<li>system setting</li>
									<li>shiftingg</li>
									<li>hydraulic & pneumatic equipment repair</li>
									<li>hydraulic parts available</li>
									<li>pneumatic parts available</li>
									<li>call support</li>
									<li>Calibration &amp; Testing</li>
								</ul>
				   	<ul class="col-6">
									<div class="col-10" style="margin-top: 15px;">
									<h4 style="background: #4d8900; text-align: left; text-transform: uppercase; padding: 7px 0px 7px 15px; margin: 0; font-size: 14px;">Machine Automation</h4>
									<p><img style="width: 100%; padding: 0; margin: 0;" title="Machine Automation" src="https://ipcsautomation.com/wp-content/uploads/2018/05/Machine-Automation.jpg" alt="Machine Automation" class="img-responsive"></p>
									</div>
									<div class="col-10" style="margin-top: 15px;">
									<h4 style="background: #4d8900; text-align: left; text-transform: uppercase; padding: 7px 0px 7px 15px; margin: 0; font-size: 14px;">Process Automation</h4>
									<p><img style="width: 100%; padding: 0; margin: 0;" title="Process Automation" src="https://ipcsautomation.com/wp-content/uploads/2018/05/Process-Automation.jpg" alt="Process Automation" class="img-responsive"></p>
									<h4 style="background: #4d8900; text-align: left; text-transform: uppercase; padding: 7px 0px 7px 15px; margin: 0; font-size: 14px;">Machine Automation</h4>
									<p><img style="width: 100%; padding: 0; margin: 0;" title="Machine Automation" src="https://ipcsautomation.com/wp-content/uploads/2018/05/Machine-Automation.jpg" alt="Machine Automation" class="img-responsive"></p>
									</div>
									<div class="col-10" style="margin-top: 15px;">
									<h4 style="background: #4d8900; text-align: left; text-transform: uppercase; padding: 7px 0px 7px 15px; margin: 0; font-size: 14px;">Process Automation</h4>
									<p><img style="width: 100%; padding: 0; margin: 0;" title="Process Automation" src="https://ipcsautomation.com/wp-content/uploads/2018/05/Process-Automation.jpg" alt="Process Automation" class="img-responsive"></p>
									</div>
								</ul>
	  	</div>

    </div>


  </section>

{% endblock %}