.btn-secondary {
  color: #fff !important; }

img {
  width: 100%; }

.logo {
  width: 60px; }

.navbar {
  opacity: 0.9;
  text-transform: uppercase; }

.social a {
  margin-right: 0.4rem; }

#showcase {
  background: url(../img/showcase.jpg) no-repeat top center fixed/cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem; }
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: rgba(51, 51, 51, 0.8); }

#services {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  min-height: 300px;
  position: relative;
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); }

#showcase-inner {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); }
  #showcase-inner.showcase-search {
    min-height: 270px; }

#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }

#slide{
          max-width: 100px;
          height: 100px;
          background-color: powderblue;
          opacity: 0.8;
            }
.slide{
          max-width: 100px;
          height: 100px;
          background-color: powderblue;
          opacity: 0.8;
            }
.slide:hover {
  opacity: 1;}


/* client image bar*/


     .myimages {
         display: flex;
         overflow: hidden;
         height: auto;
         width: auto;
         max-height: 35vw;
         max-width: 35vw;
         background: #333
     }

     .myimages img {
         max-width: 100%;
         vertical-align: middle;
         border: 2px solid white;
         box-sizing: border-box;
         transition: opacity .2s
     }

     .myimages:hover img {
         opacity: 0.5
     }

     .myimages img:hover {
         opacity: 1
     }

     .first-column {
         animation: var(--animation, none) 20s infinite linear
     }

     .first-column:hover {
         animation-play-state: paused
     }

     .first-column:nth-of-type(odd) {
         align-self: flex-end;
         --direction: 50%
     }

     @keyframes slide {
         to {
             -webkit-transform: translateY(var(--direction, -50%));
             transform: translateY(var(--direction, -50%))
         }
     }

#toside {
        opacity:0.9;
        text-align:left; position:auto;
        cursor:pointer;
        display:none;
        color:#ffd9a7;
        font-size:20px;
        font-weight:bold;,
        }

#toside:hover {
  transform: scale(1.005);
  opacity: 1;}


/* index page CSS */

.how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #10284e;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img
{
    box-shadow: 0 0 8px 8px white inset;
    text-align: center;
}
.how-img img{
    box-shadow: 0 0 8px 8px white inset;
    width: 100%;
}


sad
{
    display:block;
    position:relative;

}

.sad:before
{
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    box-shadow: 0px 0px 25px 25px white inset, -30px -25px 25px 25px white inset;

}